.filter__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #3b3f8d;
}
.filter__input {
  margin-top: 10px;
  padding: 20px;
  width: 530px;
  height: 60px;
  border: none;
  background: #f3f3f3;
  border-radius: 61px;
  align-items: center;
}
.contacts__title {
  font-size: 30px;
  text-align: center;
  color: #000080;
}
